.navbar-brand{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  padding-left: 10px;
}
.navbar-item{
  padding: 0 18px;
  font-family: 'Catamaran', sans-serif;
}
.dropbtn{
  margin-top: 0;
}
.div1{
  background-color:#fa744f;
  padding-bottom: 80px;
}

h1{
  font-family: 'Montserrat Alternates', sans-serif;
  padding-top: 80px;
  color: black;
  text-align: center;
  padding-bottom: 80px;
  font-weight: bolder;
}
.testimonial-image{
  border-radius: 50%;
  padding-left: 9.5px;
  padding-right: 9.5px;
}
#middle{
  background-color:#f79071;
  text-align: center;
  padding-bottom: 80px;
}
.btn{
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5rem;
}
.h3i{
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}
.h3ii{
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  color: black;
  padding-bottom: 30px;
}
.dropdown-item{
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 20px;
}
#pen{
  background-color:#16817a;
  text-align: center;
  padding-bottom: 80px;
}
.hl{
  font-family: 'Montserrat Alternates', sans-serif;
  padding-top: 80px;
  color: white;
  text-align: center;
  padding-bottom: 80px;
  font-weight: bolder;
}
#ending{
  background-color:#024249;
  text-align: center;
  padding-bottom: 80px;
}
.fa{
  color: white;

}
.fa:hover{
  color: #16817a;

}
.col-md-3{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.c{
  padding-left: 30%;
}
